
body {
    font-family: Arial, sans-serif;
    background-color: #302b2b;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding-top: 60px; 
    color: white;
}


.top-bar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 70px;
    background-color: #333333;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.top-bar img {
    height: 50px;
    -webkit-transition: all 0.7s ease;
    transition: all 0.7s ease;
}

.top-bar img:hover {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.login-container {
    background-color: #404040;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

.login-container h2 {
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 15px;
    text-align: left;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #333333;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #666666;
}

.login-container p {
    margin-top: 20px;
    font-size: 14px;
}

.login-container p a {
    color: #666666;
    text-decoration: none;
}

.login-container p a:hover {
    text-decoration: underline;
}
